[req]
req_extensions = v3_req
basicConstraints=CA:FALSE
subjectAltName=@req_subject_alt_names
subjectKeyIdentifier = hash
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C                      = GB
ST                     = Test State or Province
L                      = Test Locality
O                      = Organization Name
OU                     = Organizational Unit Name

[ v3_req ]
subjectAltName = @alt_names

[alt_names]
DNS = localhost
IP = 127.0.0.1