name: Integration tests with Logstash instance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
        winston-version: [2x, 3x]

    steps:
      - uses: actions/checkout@v6
      - name: Start containers for Winston ${{ matrix.winston-version }}
        working-directory: ./test-bench/logstash/
        run: docker compose -f "docker-compose.yml" up -d
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install base project deps
        run: npm install
      - name: Build base project
        run: npm run build
      - name: Install dependencies for test case
        working-directory: ./test-bench/winston-${{ matrix.winston-version }}
        run: npm install
      - name: Wait for Logstash
        working-directory: ./test-bench/logstash/
        run: |
          npx --yes wait-on --timeout 30000 --verbose tcp:localhost:9777 &&
          npx --yes wait-on --timeout 30000 --verbose tcp:localhost:9888 &&
          npx --yes wait-on --timeout 30000 --verbose tcp:localhost:9999 &&
          docker compose logs --no-color logstash
      - run: npm test
        working-directory: ./test-bench/winston-${{ matrix.winston-version }}
      - name: Stop containers
        working-directory: ./test-bench/logstash/
        if: always()
        run: |
         docker compose logs --no-color logstash &&
         docker compose -f "docker-compose.yml" down